@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        width: 100%;
        justify-content: space-around;
    }

    .conteudo-principal {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo-principal__conteudo {
        width: auto;
    }

    .img-conteudo {
        width: 75%;
    }
}