* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    height: 100%;
    background-image: linear-gradient(to bottom right, #515151 0%, #ccc5e2 40%, #515151 60%, #ffffff 100%);
    background-size: 200%, 200%;
    animation: float 6s linear infinite alternate;
}

@keyframes float {
    from{background-position: 0 0 ;}
    to{background-position: 100% 100%;}
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b700ff; 
    border-radius: 50px;
  }

.cabecalho {
    padding: 2% 0% 0% 19%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #e7e700;
    text-decoration: none;
}

.text-h1{
    color: #e7e700;
}

.conteudo-principal {
    padding: 5% 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteudo-principal__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-principal__conteudo__titulo {
    font-size: 2.25rem;
    font-family: "Krona one", sans-serif;
}

.conteudo-principal__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.botoes-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.img-github , .img-linkedin{
    width: 32px;
    height: 32px;
}

.titulo__redes {
    font-family: "Krona one ", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes-links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px dashed #e7e700;
    width: 50%;
    text-align: center;
    border-radius: 14px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
}

.botoes-links__link:hover {
    background-color: #272727;
    color: #e7e700;
}

.img-conteudo {
    width: 50%;
    border-radius: 8px;
    opacity: 0.6;
}

.rodape-main {
    padding: 24px;
    color: #000;
    background-color: rgb(231, 231, 0, 50%);  
    text-align: center; 
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape-email {
    text-decoration: none;
    color: #000;
}

.rodape-numero {
    text-decoration: none;
    color: #000;
}

.rodape-email:hover{
    color: #e7e700;
}

.rodape-numero:hover{
    color: #e7e700;
}

.meu-nome {
    font-family: "Krona one", sans-serif;
    color: #f6f6f6;
}

.sub-titulo__sobremim {
    font-size: 1.1875rem;
    font-family: "Krona one", sans-serif;
    color: #e7e700;
}

 .links-sites {
    text-decoration: none;
    color: #f6f6f6; 
} 

li {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;;
}

li:hover {
    color: #e7e700;
}

